.features {
  &__wrap {
    background-color: #fceee5;
    padding: 7.5rem 0;
    text-align: center;
  }
  &__img {
    margin-top: 1rem;
  }
  &__text--desc {
    font-family: 'Roboto', Arial, sans-serif;
    color: #a66142;
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 2rem;
  
  }
}


.price {
  &__wrap {
    background-color: #f7e3d9;
    padding-top: 7.5rem;
    text-align: center;
  }
  &__img {
    margin-top: 5rem;
  }
}